body{
    background-color: #DBAD89;
    overflow-x: hidden;
}

h1{
    color: darkgrey;
    background-color: #0C3F0E;
    margin-bottom:0;
    padding: 0 2%;
}

/*Estilo del botón para desplegar el formulario*/
.despliegue{
    background-color: transparent;
    border: none;
    float:left;
    font-size: .9em;
}

/*Estilo para el fieldset del formulario*/
.marco {
    border: 1px solid rgb(190, 211, 214) !important;
    border-radius: 5px;
    width: 80%;
    padding: 0 1em;
    margin-top:0;
    margin-bottom: .5em;
}

/*Estilo para el espacio reservado al botón de reset*/
legend {
    text-align: right;
    width: 30%;
    padding:0 10px;
    border-bottom:none;
    font-size: 1em;
    color: #555;
}
/*Este estilo sólo se aplica para Firefox*/
@-moz-document url-prefix() {
    legend {
        position: relative;
        top: .5em;
    }
}

/*Estilo del botón de reset*/
#resetear {
    background-color: #B4C9CC;
    border-radius: 50%;
    border: none;
    padding: 2px 7px;
    color: red;
}

/***********************************************************/
/******************** ESTILOS FORMULARIO *******************/
/***********************************************************/

/*Contenedor del formulario*/
#contform {
    margin-right: -8em;
    padding:0;
}
#contform .form-group {
    margin: 0 auto;
}

#contform input {
    margin: 0 auto;
}
#contform label {
    margin: 0 auto;
}

/*Estilo por defecto para todos los span (se utilizan para avisos)*/
span {
    color: red;
    font-weight: 600;
    margin:0;
    padding:0;
}

/*Estilo para los span de validación OPCIONAL*/
#autornull, #anionull, #editorialnull {
    color: #a8410f;
}

/*Estilo para los cuadros del formulario*/
.rebonico{
    border:solid 1px black;
}

p {
    margin: 0;
    margin-left: 5%;
}

#botones {
    position: relative;
    top: 6em;
}

#botones button{
    min-width: 10em;
}

.icono {
    float: right;
    margin-right: 1em;
    color: #ffff99;
}

